@model IEnumerable<Apresentation.Models.Paciente.PacienteViewModelGet>

@{
    int count = 0;
    Layout = null;
}
<table class="table table-hover" style="width: 100%; margin-top: 05%;">
    <thead>
        <tr class="thead-dark">
            <th class="text-center">#</th>
            <th class="text-center">CPF</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Cidade</th>
            <th class="text-center">Estado</th>
            <th class="text-center">País</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model.OrderBy(p => p.Nome))
            {
                count++;
                <tr>
                    <td class="text-center">@count</td>
                    <td class="text-center"><span class="cpf">@item.Cpf</span></td>
                    <td class="text-center">@item.Nome</td>
                    <td class="text-center">@item.Cidade</td>
                    <td class="text-center">@item.Estado</td>
                    <td class="text-center">@item.Pais</td>
                    <td class="text-center"><button class="btn btn-outline-warning" onclick="Editar('@item.Id','@item.Cpf',  '@item.Nome', '@item.IdPais', '@item.IdEstado', '@item.IdCidade')">-</button></td>
                    <td class="text-center"><button class="btn btn-outline-danger" onclick="Excluir('@item.Id')">-</button></td>
                </tr>
            }
        }

    </tbody>
</table>
